header.header
    .header__column
        a.icon-link(href=routes.home)
            i.fab.fa-youtube.fa-3x
            span WeTube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        ul
            if !user.isAuthenticated
                li 
                    a(href=routes.join) JOIN
                li
                    a(href=routes.login) LOGIN
            else
                li
                    a(href=`/videos${routes.upload}`) UPLOAD
                li
                    a(href=routes.userDetail(user.id)) PROFILE
                li
                    a(href=routes.logout) LOGOUT